<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-06-26T15:18:07Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hariharan_g/dev/test/Gen_Sample_App/Gen_Sample_App.xcodeproj</string>
</dict>
</plist>
